@font-face{
  font-family: RobotoCondensed;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face{
  font-family:EconomicaBold ;
  src: url(assets/economica-bold.ttf);
}

body{
  text-align: center;
  font-size: 20px;
  padding: 2.5%;
}

h1, h2, h3, h4, h5{
  font-family: 'aerial';
}

.profile{
  width: 400px;
  height: 400px;
  border-radius: 200px;
  float: left;
}

.title-fade-in{
  opacity: 100;
  font-size: x-large;
  animation-name: fade-in;
  font-weight: bolder;
  animation-duration: 2s;
  color: #425997;
  
}

.title-fade-out{
  opacity: 0;
  font-size: x-large;
  animation-name: fade-out;
  animation-duration: 2s;
  font-weight: bolder;
  color: #083d34;
}

@keyframes fade-in{
  from{opacity: 0;}
  to{opacity: 100;}
}
@keyframes fade-out{
  from{opacity: 100;}
  to{opacity: 0;}
}
