.Body{
  float: left;
}
.header{
  float: left;
  font-weight: bold;
}

.list{
  margin: 10px;
}

#title{
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: gray;
  font-size: 30px;
  float: left;
}

#todolist{
  display: inline-block ;
  flex-direction: column;
}

li{
  background-color: rebeccapurple;
  display: inline-block;
  color: white;
  width: fit-content;
  padding: 15px;
  margin-top: 25px;
  margin-right:8px ;
  margin-bottom: 25px;
  border-radius: 5px;
}

li:hover{
  background-color: gray;
  cursor: pointer;
}

.inp {
  float: left;
}

.butn{
  float: left;
  margin: 5px;
  font-size: 19px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

button :hover{
  background-color: gray;
}
